.picture-and-details {
  display: flex;
}

.picture {
  max-width: 28rem;
  border-radius: 4px;
}

.details {
  margin: 1rem;
  display: inline-block;

  &--heading {
    font-size: 1rem;
    font-weight: bold;
  }
}
